/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");

/* start variables */
:root {
  --main-color: #f19e07;
  --dark-color: #000;
  --base-color: #fff;
}
/* start global style */
* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: 0;
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
.btn-1 {
  background-color: var(--main-color);
  color: var(--base-color) !important;
  height: 50px;
  border: 1px solid    transparent;
}
.btn-1:focus,
.btn-2:focus {
  filter: drop-shadow(0 0px 3px var(--main-color));
  box-shadow: unset;
}
.btn-2 {
  background-color: var(--base-color);
  color: var(--main-color) !important;
  height: 50px;
  border: 1px solid    var(--main-color);
}
/* start my style */
.bg-light {
  background-color: #f1efef;
  padding: 1rem 0;
}
.sub_nav {
  background-color: #2b2a2a;
  padding: 10px 0;
}
.navbar-light .navbar-brand {
  margin: 0;
}
.navbar-light .navbar-nav .nav-link {
  margin-inline-start: 20px;
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: all ease 0.3s;
  position: relative;
}
.navbar-light .navbar-nav .nav-link svg {
  fill: #000;
  transition: all ease 0.3s;
}
.notif {
  position: absolute;
  top: 5px;
  right: 2px;
  background-color: var(--main-color);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  font-size: 10px;
  color: var(--dark-color) !important;
}
.navbar-light .navbar-nav .nav-link:hover svg {
  fill: var(--main-color);
  transition: all ease 0.3s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--main-color);
  /* border-color: var(--main-color); */
  transition: all ease 0.3s;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--main-color);
  /* border-color: var(--main-color); */
  transition: all ease 0.3s;
}
.navbar-light .navbar-nav .nav-link.btn_login {
  border-radius: 5px;
  background: var(--main-color);
  color: var(--base-color) !important;
  font-size: 14px;

  padding: 0.7rem 1rem;
  border: 1px solid    transparent;
}
.navbar-light .navbar-nav .nav-link.btn_login:hover {
  background: var(--base-color);
  color: var(--main-color) !important;

  border: 1px solid    var(--main-color);
}

.navbar-light .navbar-nav .nav-link.btn_login2 {
  background: var(--base-color);
  color: var(--main-color) !important;
  border: 1px solid    var(--main-color);

  border-radius: 5px;
  font-size: 14px;
  padding: 0.7rem 1rem;
}
.navbar-light .navbar-nav .nav-link.btn_login2:hover {
  background: var(--main-color);
  color: var(--base-color) !important;
  border: 1px solid    transparent;
}

.navbar-light .navbar-nav .nav-link.btn_login:focus,
.navbar-light .navbar-nav .nav-link.btn_login2:focus {
  filter: drop-shadow(0 2px 4px var(--main-color));
  box-shadow: unset;
}
.social_top_right li {
  margin-inline-end: 20px;
}
.social_top_left li {
  margin-inline-start: 20px;
}
.social_top_left li a {
  color: var(--base-color);

  font-size: 16px;
  font-weight: 500;
}
.social_top_left li a img {
  margin-inline-start: 5px;
}
/* start hero section */
.hero {
  background: url(../images/hero.png) no-repeat 100%;
  height: calc(100vh - 132px);
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .layer {
  position: absolute;
  background: url(../images/hero-shape.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero_info {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-bottom: 30px;
}
.hero_info h2 {
  color: var(--base-color);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hero_info h1 {
  color: var(--main-color);
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.hero_info p {
  color: var(--base-color);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}

.hero_info .btn-1 {
  min-width: 150px;
}
main {
  min-height: 70vh;
}
/* start about */
.services,
.about {
  padding: 40px 0;
}
.heading_box h3 {
  color: var(--main-color);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.heading_box h2 {
  color: var(--dark-color);
  margin-bottom: 0.5rem;

  font-size: 27px;
  font-weight: 600;
}
.btn_link {
  color: var(--main-color);
}
.heading_box p {
  color: var(--dark-color);
  margin-bottom: 1rem;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
}
.ab_box2 img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.ab_box img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.ab_info {
  background-color: var(--dark-color);
  height: 100px;
  margin-top: 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* start services */
.services {
  background: url(../images/serv.png) no-repeat 100%;
  background-size: cover;
  position: relative;
}
.services .layer {
  position: absolute;
  background: url(../images/serv-shape.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.heading_box,
.serv_img {
  position: relative;
  z-index: 2;
}
.serv_list li,
.serv_list li a {
  color: #555;
  font-size: 16px;
  font-weight: 600;
}
.serv_list li {
  margin-bottom: 20px;
}
.serv_list li i {
  margin-inline-end: 10px;
  color: var(--main-color);
}
/* start video */
.video-section {
  position: relative;
  width: 100%;
  height: 450px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 2;
}

.play-button {
  margin-bottom: 20px;
}

.text-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.text-content p {
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
  line-height: 30px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-section .layer {
  position: absolute;
  background: url(../images/vid-shape.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.btn_play {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
/* testmonial */
.testmonial {
  background-color: #edeaeb;
}
.testmonial .heading_box p {
  width: 50%;
  margin: 0 auto;
}
.test_box {
  text-align: center;
  background-color: var(--base-color);
  padding: 50px 20px;
  margin: 10px;
  margin-top: 24px;
  transition: all ease 0.3s;
  border-bottom: 3px solid transparent;
}
.test_box:hover {
  border-color: var(--main-color);
  transition: all ease 0.3s;
}
.test_box img {
  margin: 0 auto;
  width: 63px;
  height: 63px;
  border-radius: 50%;
}
.test_box h3 {
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 700;
}
.test_box p {
  color: var(--dark-color);
  font-size: 17px;
  font-weight: 500;
  line-height: 32px; /* 188.235% */
  margin: 0.5rem 0;
}
/* start footer */
footer {
  background-color: var(--dark-color);
  padding: 40px 0;
  color: #fff;
}
.foot p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.foot h5 {
  color: #f19e07;

  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.foot li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.foot li {
  margin-bottom: 0.3rem;
}
.copy_right a {
  color: var(--main-color);
}
/* start sub footer */
.contact_support {
  padding: 20px 0;
  background-color: #555;
}
.contact_support h4,
.contact_support h4 a {
  color: var(--main-color);
  font-size: 27px;
  font-weight: 600;
}
.contact_support img {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-inline-end: 10px;
}
/* start terms */
.head_banner {
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../images/term-banner.png) no-repeat 100%;
  background-size: cover;
}
.head_banner .layer {
  position: absolute;
  background: url(../images/term-shape.svg) no-repeat 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.term_head h2 {
  color: #f19e07;
  font-size: 27px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}
.terms_wrapper {
  padding: 40px 0;
}
.terms_wrapper h3 {
  color: var(--main-color);

  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0.7rem;
}

.terms_wrapper p {
  color: var(--dark-color);

  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
}
.notif_box {
  padding: 20px;
  border-radius: 12px;
  border: 1px solid    rgba(96, 96, 96, 0.6);
  margin-bottom: 24px;
}
.notif_box h3 {
  color: #000;

  font-size: 13px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.notif_box p {
  color: #1e1914;

  font-size: 14px;
  font-weight: 400;
}
.notif_box p a {
  color: #f19e07;
  font-size: 14px;
  font-weight: 400;
}
.notif_box span {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}
.notif_wrapper {
  padding: 40px 0;
}
.ab_img {
  margin-bottom: 24px;
}
/* start media query lg screen: */
@media (min-width: 1100px) {
  .ab_box2 img {
    height: 326px;
  }
  .ab_box img {
    height: 450px;
  }
  .serv_img {
    display: flex;
    justify-content: end;
  }
  .test-prev {
    left: -25px;
  }
  .test-next {
    right: -25px;
  }
}
.test-prev {
  z-index: 2;
}
.step-app > .step-steps > li {
  background-color: transparent !important;
  position: relative;
  color: var(--dark-color) !important;
}
.step-app > .step-steps > li::before {
  width: 70%;
  height: 1px;
  background-color: var(--dark-color);
  position: absolute;
  right: 27%;
  content: " ";
  top: 27px;
  z-index: 1;
}
.step-app > .step-steps > li.active::before,
.step-app > .step-steps > li.done::before {
  background-color: var(--main-color);
}
.step-app > .step-steps > li span {
  background-color: #d9d9d9;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.step-app > .step-steps > li.active span,
.step-app > .step-steps > li.done span {
  background-color: var(--main-color);
}
.step-app > .step-steps > li p {
  margin-top: 0.5rem;
  color: #7d7d7d;
  font-size: 17px;
  font-weight: 600;
}
.step-app > .step-steps > li.active p,
.step-app > .step-steps > li.done p {
  color: var(--dark-color);
}
.last_step::before {
  display: none;
}
.step-tab-panel {
  padding: 20px;
  border: 1px solid    #33333379;
  border-radius: 10px;
  margin-top: 24px;
}
.steps_wrapper {
  padding: 40px 0;
}
.step-app > .step-footer > .step-btn {
  height: 50px;
  min-width: 150px;
  border-radius: 8px;
  font-weight: bold;
  border: 1px solid    transparent;
}
button[data-step-action="next"],
button[data-step-action="finish"] {
  background-color: transparent !important;
  color: var(--main-color) !important;
  border: 1px solid    var(--main-color) !important;
}
/* Hide the div by default */
.hidden {
  display: none;
}
.step_tab h3{
  color: #000;

  font-size: 20px;
  font-weight: 500;
}
.step_tab h3 img{
  margin-inline-end: 10px;

}
.step_tab .btn{
  font-weight: bold;
}
.step_tab .btn img{
margin-inline-end: 5px;
}
.step_tab select ,.step_tab input{
  height: 50px;
}
#map {
  height: 400px;
}
/*  */

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #000;
  box-shadow: 0 1px solid #d9d9d9 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: 7px;
  width: 6px;
  height: 11px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.label_serv_price{
  background-color: #FAF7F7;
  min-width: 200px;
  height: 50px;
  color: #f19e07;
font-size: 25px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
margin: 10px 0;
}
/* start services */
.term_head h3{
  color: #FFF;
  font-size: 27px; 
  font-weight: 700;
  position: relative;
    z-index: 2;
    margin-bottom: 0.5rem;
}
.serv_card {
  margin: 12px 0;
}
.serv_card .card{
  border: unset;
  background: #FFF;
box-shadow: 0px 5px 42px 0px rgba(0, 0, 0, 0.25);
}
.serv_card .card .btn-2{
  line-height: 30px;
}
.serv_card .card .card-img-top {
  height: 185%;
  width: 100%;
}
.services_warpp{
  padding: 40px 0;
}
/* start .page-link */
.page-link{
  width: 37px;
height: 37px;
border-radius: 50% !important;
background-color: #D9D9D9 ;

color: #000 !important;
/* font-size: 18px; */
font-weight: 700;
display: flex;
    justify-content: center;
    align-items: center;
}
.page-item{
  margin: 5px;
}
.page-link:hover{
  background-color: var(--main-color);

}
.page-link:focus{
box-shadow: unset;

}
.auth{
position: relative;
padding: 0px 70px;
height: 100vh;
display: flex;
align-items: center;
}
.auth .layer{
position: absolute;
left: 0;
width: 25%;
background-color: var(--main-color);
top: 0;
bottom: 0;
height: 100%;
z-index: -1;
}
.sign_box .input-group{
  height: 50px;
}
.sign_box label{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.sign_bg ,.sign_box{
  height: 100%;
}
.sign_bg img{
  border-radius: 5px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
object-fit: cover;
}
@media (min-width:991px) {
  .sign_bg img{
  min-height: 650px;

  
  }
}
@media (max-width:990px) {
  .auth .layer {
    width: 100%;
    height: 5%;
}
.auth {
  padding:70px 20px;
  height: 100%;

}
.sign_bg img{
  height: 250px;
    width: 100%;
}

}
/* .otp-input {
  width: 2rem;
  text-align: center;
} */
.otb_card .form-control{
  width: 15%;
  margin: 0 1%;
  height: 50px;
}
.z-index{
  z-index: 2222;
}
/* myCar_wrapper */
.myCar_wrapper ,.services_details{
  padding: 40px 0;
}
.myCar_wrapper h3{
  color: #000;
font-size: 20px;
font-weight: 500;
margin-bottom: 1rem;
}
.myCar_wrapper .form-select,.myCar_wrapper .form-control{
  height: 50px;
}
.form-select{
  background-position: left 0.75rem center;
}
.total_price{
  background-color: #E0E0E0;
  padding: 20px;
  border-radius: 5px;

}
.total_price h4{
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.total_price h2{
  color:var(--main-color);
  font-size: 18px;
  font-weight: 700;
margin-top: 10px;
}
.serv_detail_info h3{
  color: #000;
font-size: 18px;
font-weight: 700;
}
.serv_detail_info p{
  color: #000;
font-size: 14px;
font-weight: 400;
line-height: 30px;
}

.table_wrapper th ,.table_wrapper td{
padding: 1.5rem 0.5rem;
white-space: nowrap;
text-align: center;
vertical-align: middle;
}
.table_wrapper tr:not(:last-child) {
  border-bottom: 1px solid    #dee2e6;
}
.table_wrapper a.btn-2{
  display: flex;
  align-items: center;
}
.order_req{
  border: 1px solid    #dee2e6;
padding: 30px;
margin-bottom: 40px;
border-radius: 10px;
}
.order_req h3{
  background-color: var(--dark-color);
  color: var(--base-color);
  border-radius: 10px;
  padding: 5px 0;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;

}
.order_req h4{
  color: #000;

font-size: 20px;
font-weight: 600;
}
@media (min-width:1200px) {
  .order_req h4{

  min-width: 200px;
  }

}
.order_req h5{
  color:#7D7D7D;
  font-size: 20px;
  font-weight: 600;
  margin-inline-start: 10px;

}
.order_req h5.orange a ,.order_req h5.orange{
  color: var(--main-color);
}
.order_req li{
  margin-bottom: 25px;
}
.order_req ul{
  margin-inline-end: 50px;
}
/* start contact */
.contact{
  padding: 40px 0;
}
.con_info h4{
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.con_info p{
  color: #373737;
font-size: 16px;
font-weight: 500;
margin-bottom: 0.3rem;

}
.con_form h3{
  color: #F19E07;
font-size: 27px;
font-weight: 700;
margin-bottom: 1rem;
}
/* upload image profile */
.profile{
  padding: 40px 0;
}
.sign_box_prof{
  margin-top: 70px;
}

.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 10px solid #fff;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    margin-top: -110px;
}

.p-image {
  margin: 0 auto;
  right: -75px;
  left: 0;
  position: absolute;
  color: #666666;
  width: 33.277px;
height: 33.277px;
}
.nav-item .dropdown-item i{
  margin-inline-end: 10px;
}
.nav-item .dropdown-item{
  margin-bottom: 10px;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: var(--main-color);
}
.slick-next {
  right: 0;
  z-index: 22;
}