/* start media query  For xxl screen: */
@media (min-width: 1900px) {

}

  /* start media query For ipad mini and ipad air: */
@media (max-width:1000px) {
  .serv_detail_img ,.sign_bg{
    margin-top: 20px;
  }
  .serv_img {
    margin-top: 20px;
  }  
  .text-content p {
    width: 100%;

}
.foot{
  margin-bottom: 20px;
}
.flex-reverse{
  flex-direction: column-reverse;
}
.step-app>.step-steps>li::before{
  display: none;
}
.step-app > .step-steps > li{
  padding: 0;
}
.step-app>.step-steps>li p{
  font-size: 12px;
}
.w-sm-100{
  width: 100% !important;
}
.head_banner .btn-1{
  margin-top: 20px;
}
.order_req h5{
  margin-inline-start: 20px;
}
.order_req h4{

  min-width: 100px;
  }
  .con_info{
    margin-top: 20px;
  }
}
  /*start media query  For  mobile: */
@media (max-width: 600px) {
  .step-app > .step-footer > .step-btn {
    width: 100%;
    margin-bottom: 0.5rem;
}
  .step-app>.step-steps>li p{
    font-size: 10px;
  }
  .hero_info p {
    width: 80%;
 
} 
.social_top_left li {
  margin-inline-start: 0px;
  margin-inline-end: 20px;
  margin-top: 0.5rem;

}
.navbar-light .navbar-nav .nav-link {
  display: inline-block;
  margin-inline-start: 0px;

} 
.notif{
  position: absolute;
  top: 0px;
  left: 0px;

}
.ab_info{
  margin-bottom: 24px;
}
.contact_support h4 {
  margin-top: 0.5rem;
}
.head_banner .btn-1{
  margin-top: 20px;
}
}

